<%= form_for(@user, :html => {:class => "well"} ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <style>
        label { min-width:100px;text-align:right; margin-right:10px; vertical-align:middle; }
    </style>

@user.attributes do |att|
  <div class="control-group">
    <%= att.label att.name %>&nbsp
    <%= att.text_field att.value %>
  </div>

end


  <div class="actions">

    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok-sign"></i> Save
    <% end %>


  </div>
<% end %>
